@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-inter-regular: 'Inter_400Regular';
        --font-inter-medium: 'Inter_500Medium';
        --font-inter-semibold: 'Inter_600SemiBold';
        --font-inter-bold: 'Inter_700Bold';
    }

    /* NativeWind v4 targets 'body' for default styles that cascade */
    body {
        font-family: 'Inter_400Regular';
    }
}